<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Required only for Android 9 (API 28) and lower -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <!-- Required only up to Android 12L (API 32) -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo_icon"
        android:supportsRtl="false"
        android:theme="@style/Theme.MC.One"
        android:usesCleartextTraffic="true"
        tools:replace="android:supportsRtl"
        tools:targetApi="31">
        <activity
            android:name=".mainapp.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainapp.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".stopwatch.StopWatchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".randomimagegenerating.RandomImageGeneratingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".randomimagegenerating.ImageInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".candycrushgame.CandyCrushGameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".multipledelete.activity.MultiDeleteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bloggerapp.activity.PageDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bloggerapp.activity.PagesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bloggerapp.activity.PostDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bloggerapp.activity.BloggerAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jokeapp.activity.JokeAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".livetv.activity.CategoriesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".livetv.activity.CategoryDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".livetv.activity.LiveTVDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".livetv.activity.LiveTVActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newsapp.activity.NewsAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newsapp.activity.NewsAppDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoplayer.activity.VideoPlayerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoplayer.activity.PlayerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoplayer.activity.VideoFolderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".webapp.WebAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".webapp.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pdfreader.activity.PdfReaderActivity"
            android:documentLaunchMode="intoExisting" />
        <activity
            android:name=".pdfreader.activity.PdfReaderIntroActivity"
            android:label="@string/intro"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".wordpress.activity.WordpressFavoritesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wordpress.activity.WordpressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wordpress.activity.WordpressDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WpToAndroidApp" />
    </application>

</manifest>